version: '3.3'

services:
  mysql:
    container_name: mysql_db
    image: mysql:8.0
    restart: unless-stopped # Tự động khởi động lại container nếu bị dừng
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
      MYSQL_DATABASE: 'db_hotel'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
    driver: local # Đảm bảo sử dụng driver mặc định để lưu trữ dữ liệu